<div class='card-panel'>
    <div alt='Count of all passed tests' title='Count of all passed tests'>Suite Summary</div>
    <div class='chart-box'>
        <div class='text-centered' id='suite-analysis'></div>
    </div>
    <div>
        <span class='weight-light'><span class='suite-pass-count weight-normal'></span> suites(s) passed</span>
    </div>
    <div>
        <span class='weight-light'><span class='suite-fail-count weight-normal'></span> suites(s) failed, <span class='suite-others-count weight-normal'></span> others</span>
    </div>
</div>