<div class='card-panel'>
    <div alt='Count of all inconclusive tests' title='Count of all inconclusive tests'>Pass Percentage</div>
    <div class='panel-lead pass-percentage'></div>
    <div class='progress'>
        <div class='determinate'></div>
    </div>
</div>