@using RazorEngine.Templating;
@inherits TemplateBase<ReportUnit.Model.Report>
<div class='filters card-panel'>
    <div>
        <a class='dropdown-button button' href='#' data-hover='true' data-beloworigin='true' data-constrainwidth='true' data-activates='suite-toggle' alt='Filter suites' title='Filter suites'><i class='mdi-file-folder-open icon'></i></a>
        <ul class='dropdown-content' id='suite-toggle'>
            @foreach (var status in Model.StatusList)
            {
                <li class='@status'><a href='#!'>@status</a></li>
            }
            <li class='divider'></li>
            <li class='clear'><a href='#!'>Clear Filters</a></li>
        </ul>
    </div>
    <div>
        <a class='dropdown-button button' href='#' data-hover='true' data-beloworigin='true' data-constrainwidth='true' data-activates='tests-toggle' alt='Filter tests' title='Filter tests'><i class='mdi-action-subject icon'></i></a>
        <ul class='dropdown-content' id='tests-toggle'>
            @foreach (var status in Model.StatusList)
            {
                <li class='@status'><a href='#!'>@status</a></li>
            }
            <li class='divider'></li>
            <li class='clear'><a href='#!'>Clear Filters</a></li>
        </ul>

    </div>
    @if (Model.CategoryList.Any())
    {
        <div>
            <a class='category-toggle dropdown-button button' href='#' data-hover='true' data-beloworigin='true' data-constrainwidth='false' data-activates='category-toggle' alt='Filter categories' title='Filter categories'><i class='mdi-image-style icon'></i></a>
            <ul class='dropdown-content' id='category-toggle'>
                @foreach (var category in Model.CategoryList)
                {
                    <li class='@category'><a href='#!'>@category</a></li>
                }
                <li class='divider'></li>
                <li class='clear'>
                    <a href='#!'>Clear Filters</a>
                </li>
            </ul>
        </div>
    }
    <div>
        <a title='Clear Filters' alt='Clear Filters' id='clear-filters' class='clear'><i class='mdi-navigation-close icon'></i></a>
    </div> &nbsp;
    <div>
        <a title='Enable Dashboard' alt='Enable Dashboard' id='enableDashboard' class='enabled'><i class='mdi-action-track-changes icon active'></i></a>
    </div>
    <div>
        <input type='text' id='nameFilterInput' placeholder='Search...' />
    </div>
</div>